<div class="row">
@for (item of product; track item.id){
    <div class="col">
      <div class="card-container">
        <a href="/" class="hero-image-container">
          <img class="hero-image" src="{{item.image}}" alt="Spinning glass cube"/>
        </a>
        <main class="main-content">
          <h1><a href="#">{{item.title}}</a></h1>
          <p>{{item.description}}</p>
          <div class="flex-row">
            <div class="coin-base">
              
            </div>
            <div class="time-left">
              <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>
              <p>3 days left</p>
            </div>
          </div>
        </main>
        <div class="card-attribute">
          <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar"/>
          <p>Creation of <span><a href="#">Jules Wyvern</a></span></p>
        </div>
      </div>
  </div>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Lauro235</a>.
    </div>
    }
</div>