<div class="row">
  @for (item of product; track item.id){
      <div class="col py-3">
        <div class="container">
        <div class="wrap">
          <div class="box" >
            <div class="box-top" style="width: 16rem;">
              <img class="box-image" src="{{item.image}}" >
              <div class="title-flex">
                <h3 class="box-title">{{item.title.slice(0,11)}}</h3>
                <p class="user-follow-info">premium quality</p>
              
              <p class="description">{{item.description.slice(0,60)}}</p>
              <h5>${{item.price}}</h5>
            </div>
            <a routerLink="/product/{{item.id}}" class="button">buy now</a>
          </div>
          
        </div>
      </div>
          </div>
          </div>
      }
  </div>